<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
<style>
          .navbar{
              background-color: #63808C;
          }
          .image-logo{
              max-width: 3%;
              height: 45px;
          }
          .nav-logo{
              margin-left: 40px;
          }
          .nav-end{
              margin-left: 480px;
          }
          @media screen and(max-width:786px){
              .image-logo{
                  max-width: 9%;
                  height: 45px;
              }
              .heading{
                  font-size: 24px;
                  line-height: revert;
                  margin-right: 24px;
              }
          }
          footer {
            background-color: #63808c;
            position: float;
            top: 50px;
            left: 0;
            bottom: 0;
            width: 100%;
            color: #F8F8F8;
            text-align: center;
            
          }
          ul {
              text-align: left;
              list-style-type: none;
              font-size: 18px;
              padding: 0;
             }
          .head-leagel{
              color: #ffffff;
              text-align: left;
              font-size: 18px;
          }
          .fab{
              margin-left: 15px;
              font-size: 20px;
          
          }
          body{
              background-color: #d0edf5;
          }
          .vertical-scroll{
              overflow-y: scroll;
              white-space: nowrap;
              height: 90vh;
          }
		.grid-wrapper {
		  width: 100%;
		  display: flex;
		  justify-content: flex-start;
		  flex-direction: row;
		  flex-wrap: wrap;
		}
		.items {
		  width: 100%;
		  margin-left: 1%;
		  margin-right: 1%;
		  margin-bottom: 15px;
		}
		.items img {
		  max-width: 100%;
		}
		/* Tab */
		@media screen and (min-width: 768px) {
		  .items {
			width: 48%;
		  }
		}
		/* Desktop */
		@media screen and (min-width: 1024px) {
		  .items {
			width: 31.3333%;
		  }
		}
		/* Large */
		@media screen and (min-width: 1440px) {
		  .items {
			width: 23%;
		  }
		}
    .button{
      border-radius: 5px;
      width: 100%;
      height: 50px;
    }
    .vertical-nav{
      position: relative;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s;
    }
    #sidebar{
      height: 100%;
    }
    .body{
      min-height: 100vh;
      overflow-x: hidden;
     /* background-color: #f5eee4; */
    }
    .nav-link{
      text-transform: capitalize;
    }
    .nav-link:hover{
      background: #f3f2f2;
    }
    .modalbody {
      background-color: #E5E5E5;
      margin-top: 5px;
      
    }
    .modal-dialog {
    max-width: 500px;
    margin: 16.75rem auto;
    position: center;
    bottom: 100px;
  }
  .book_detail{
    font-family: Montserrat;
  }
  .book_image{
    margin: 70px 15px;
    height: 200px;
  }
  .text_detail{
    background-color: #B8D5DE;
    box-shadow: 0 0 10px #5e5b5b;
    border-radius: 12px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  p{
    margin: 8px;
    margin-left: 0px;
  }
  .items{
      width: 200;
      height: 300;
  }
</style>
<body>
  
    
    <!-- navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Vertical navbar -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-2" style="padding:0px;">
          <div class="vertical-nav bg-white nav-content" id="sidebar">
          <ul class="nav flex-column  mb-0">
          <li class="nav-item">
          <a href="#" class="nav-link text-dark bg-light a">
                <i class="mr-5"></i>
                Admin
          </a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link text-dark">
          <i class="mr-5"></i>
            Abdul Hadi
          </a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link text-dark">
          <i class="mr-5"></i>
            profile
          </a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link text-dark">
          <i class="mr-5"></i>
            LDG
          </a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link text-dark">
          <i class="mr-5"></i>
            Library
          </a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link text-dark">
          <i class="mr-5"></i>
            Events
          </a>
          </li>
          </ul>
        </div>
        
      </div>

<!-- Vertical navbar ends -->
<div class="col-sm-10 ">
    <div class="row">
        <div class="col-sm-5">
            <h2>LDG Events</h2>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-1"><div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Group
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Group 1</a>
              <a class="dropdown-item" href="#">Group 2</a>
              <a class="dropdown-item" href="#">Group 3</a>
            </div>
          </div></div>
    </div>
  <div class="row">
    <div class="grid-wrapper " style="margin-left: 2rem;">
      <div class="row">
        <div class="grid-wrapper">
            <div class="items">
              <img src="../public/images/colorcode.png"
              data-toggle="modal"
			  data-target="#exampleModal">
            </div>
            <div class="items">
              <img src="../public/images/colorcode.png"
              data-toggle="modal"
              data-target="#exampleModal">
            </div>
            <div class="items">
              <img src="../public/images/colorcode.png"
              data-toggle="modal"
			  data-target="#exampleModal">
            </div>
            <div class="items">
              <img src="../public/images/colorcode.png"
              data-toggle="modal"
			  data-target="#exampleModal">
            </div>
            <div class="items">
              <img src="../public/images/colorcode.png"
              data-toggle="modal"
			  data-target="#exampleModal">
            </div>
            <div class="items">
              <img src="../public/images/colorcode.png"
              data-toggle="modal"
			  data-target="#exampleModal">
            </div>
            <div class="items">
                <img src="../public/images/colorcode.png"
                data-toggle="modal"
			    data-target="#exampleModal">
              </div>
              <div class="items">
                <img src="../public/images/colorcode.png"
                data-toggle="modal"
			    data-target="#exampleModal">
              </div>
              <div class="items">
                <img src="../public/images/colorcode.png"
                data-toggle="modal"
			  data-target="#exampleModal">
              </div>
              <div class="items">
                <img src="../public/images/colorcode.png"
                data-toggle="modal"
			  data-target="#exampleModal">
              </div>
              <div class="items">
                <img src="../public/images/colorcode.png"
                data-toggle="modal"
			  data-target="#exampleModal"
                >
              </div>
              <div class="items">
                <img src="../public/images/colorcode.png"
                data-toggle="modal"
			  data-target="#exampleModal"> 
              </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<!--modal body-->
<div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
>
      <div class="modal-dialog row" role="document">
        <div class="modal-content modalbody ">
          <div class="row text-black">
          <div class=" col-4 ">
            <img src="../public/images/colorcode.png" class="img-fluid book_image" alt="" srcset="">
          </div>
          <div class="bookdetails col-8">
            <div class="modal-header">
              <h5 class="modal-title mt-3" id="exampleModalLabel">Title: dummydata</h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text_detail">
              <p class="book_detail">Date: DD/MM/YYYY</p>
              <p class="book_detail">Time: 7:00pm</p>
              <p class="book_detail">Platform: Google meet</p>
              <p class="book_detail">Event Category: Virtual</p>
            </div>
          </div>
        </div>
    </div>      
    </div>
    </div>
    
    
  <!-- footer -->
  <%- include('../partials/footer'); %>
  
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>