    <footer>
      <div class="container">
        <div class="row mt-4">
          <div class="col">
            <h2 class="head-leagel"><u> LEGAL</u></h2>
            <ul>
              <li>Terms & conditions</li>
              <li>Privacy policy</li>
              <li>Cookies policy</li>
              <li>Cookies settings</li>
            </ul>
          </div>
          <div class="col">
            <h2 class="head-leagel"><u>HELP</u></h2>
            <ul>
              <li>Support</li>
              <li>Contact</li>
            </ul>
          </div>
          <div class="col"></div>
          <div class="col">
            <h2 class="head-leagel"><u>SOCIAL MEDIA</u></h2>
            <div class="row mt-4">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin"></i>
              <i class="fab fa-twitter-square"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>
        <div class="row Copyright">
          <p style="align-items: center">
            © Copyright 2021 - <a href="http://techsias.org"> TECHSIAS </a>. All
            rights reserved.
          </p>
        </div>
      </div>
    </footer>
