<nav class="navbar navbar-expand-lg navbar-light">
  <div class="nav-logo">
    <div class="row text-white">
      
        <img
          src="../public/images/logo.png"
          class="image-logo mr-3"
          alt="logo"
        />
      
      <h2 class="heading text-white">Leaders Accademy</h2>
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active text-white" href="card">student card </a>
          <a class="nav-item nav-link text-white" href="library">Library</a>
          <a class="nav-item nav-link text-white" href="events">Events</a>
          <a class="nav-item nav-link text-white" href="admin">admission</a>

          <a class="nav-item nav-link text-white" href="logout">logout</a>

          <a class="nav-item nav-link text-white" href="register">signUp</a>

          <a class="nav-item nav-link text-white" href="aboutus">about us</a>
        </div>
      </div>
    </div>
  </div>
</nav>
