<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
      -
    />
    <!-- <link rel="stylesheet" href="../public/stylesheets/logindashbord.css" /> -->
    <title>logindash bord</title>
  </head>
  <style>
    .navbar {
      background-color: #63808c;
    }
    .image-logo {
      max-width: 3%;
      height: 45px;
    }
    .nav-logo {
      margin-left: 40px;
    }
    .nav-end {
      margin-left: 680px;
    }
    .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgb(255 251 251);
    }


    a:hover{
      background-color: #C4E1E9;
    }
    @media screen and (max-width:1430px) {
      .nav-end {
      margin-left: 460px;
    }
    }
    @media screen and (max-width:1210px) {
      .nav-end {
      margin-left: 280px;
    }
    }
    @media screen and (max-width:400px) {
      .nav-end {
      margin-left: 0px;
    }
    }

    @media screen and (max-width: 768px) {
      .image-logo {
        max-width: 9%;
        height: 45px;
      }
      .heading {
        font-size: 24px;
        line-height: revert;
        margin-right: 24px;
      }
    }
  </style>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav-logo">
          <div class="row text-white">
            <img
              src="../public/images/logo.png"
              class="image-logo mr-3"
              alt=""
            />
            <h2 class="heading text-white">Leaders Accademy</h2>
            <button
              class="navbar-toggler "
              style="margin-left: 2rem; justify-content: none;"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-end" id="navbarNav">
              <div class="navbar-nav">
                <a class="nav-item nav-link active text-white" href="#">LDP </a>
                <a class="nav-item nav-link text-white" href="#">Resource</a>
                <a class="nav-item nav-link text-white" href="#">achievement</a>
                <a class="nav-item nav-link text-white" href="admin">admission</a>
                <a class="nav-item nav-link text-white" href="#">about us</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
