      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav-logo">
          <div class="row text-white">
            <img
              src="../public/images/logo.png"
              class="image-logo mr-3"
              alt=""
            />
            <h2 class="heading text-white">Leaders Accademy</h2>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
              <div class="navbar-nav">
                <a class="nav-item nav-link active text-white" href="#">LDP </a>
                <a class="nav-item nav-link text-white" href="library">Resource</a>
                <a class="nav-item nav-link text-white" href="events">achievement</a>
                <a class="nav-item nav-link text-white" href="admin">admission</a>
                <a class="nav-item nav-link text-white" href="#">about us</a>
                <a class="nav-item nav-link text-white" href="signup">signUp</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
