.navbar{
    background-color: #63808C;
}
.image-logo{
    max-width: 3%;
    height: 45px;
}
.nav-logo{
    margin-left: 40px;
}
.nav-end{
    margin-left: 680px;
}
@media screen and (max-width: 768px) {
    .image-logo{
        max-width: 9%;
        height: 45px;
    }
    .heading{
        font-size: 24px;
        line-height: revert;
        margin-right: 24px;
    }
}